Django==1.5.5
Fabric==1.8.1
Jinja2==2.7.2
MarkupSafe==0.18
Pillow==2.3.0
Pygments==1.6
Quilt==0.1-alpha
South==0.8.4
Sphinx==1.2.1
amqp==1.4.2
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.14
celery==3.1.8
ckanclient==0.10
coverage==3.7.1
cuisine==0.6.5
django-autoslug==1.7.2
django-braces==1.3.1
django-celery==3.1.1
django-cors-headers==0.12
django-debug-toolbar==1.0.1
django-grappelli==2.4.8
django-gravatar2==1.1.3
django-modeltranslation==0.7.3
django-oauth-toolkit==0.6.0
django-pdb==0.3.2
django-redis-cache==0.10.2
django-registration==0.9b1
django-social-auth==0.7.28
django-subdomains==2.0.4
django-taggit==0.11.2
django-uuidfield==0.4.0
djangorestframework==2.3.9
dock==0.1.1
docutils==0.11
ecdsa==0.10
factory-boy==2.3.1
gdata==2.0.18
grappelli-modeltranslation==0.1.2
gunicorn==18.0
hiredis==0.1.2
httplib2==0.8
ipdb==0.8
ipython==1.1.0
jsonfield==0.9.20
kombu==3.0.11
mock==1.0.1
oauth2==1.5.211
oauthlib==0.6.1
paramiko==1.12.1
psycopg2==2.5.2
pycrypto==2.6.1
pystache==0.5.3
python-openid==2.2.5
python-quilt==0.2
pytz==2013b
raven==4.0.4
redis==2.9.1
six==1.3.0
sqlparse==0.1.10
tablib==0.9.11
unicode-slugify==0.1.1
wsgiref==0.1.2
